@import "./variables.scss";

@mixin logo{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

@mixin mobile-page-header{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

@mixin mobile-section-header{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

@mixin mobile-subheader{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0;
}

@mixin mobile-body-copy{
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin: 0;
}

@mixin mobile-footer-copy{
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin: 0;
}

@mixin mobile-button{
    font-weight: 600;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    margin: 0;
}

@mixin mobile-label{
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 1.25rem;
    margin: 0;
}

@mixin mobile-label-uppercase{
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 1.25rem;
    margin: 0;
    text-transform: uppercase;
}

// desktop
@mixin desktop-page-header{
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 0;
}

@mixin desktop-subheader{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

@mixin desktop-section-header{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;
}

@mixin desktop-body-copy{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
}

@mixin desktop-footer-copy{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;    
    margin: 0;
}

@mixin desktop-button{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
}

@mixin desktop-label{
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0;
}

@mixin desktop-label-uppercase{
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0;
    text-transform: uppercase;
}

// tablet
@mixin tablet-page-header{
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 0;
}

@mixin tablet-section-header{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin: 0;
}

@mixin tablet-subheader{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

@mixin tablet-body-copy{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;   
    margin: 0; 
}

@mixin tablet-footer-copy{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;  
    margin: 0;  
}

@mixin tablet-button{
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0;
}

@mixin tablet-label{
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0;
}

@mixin tablet-label-uppercase{
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0;
    text-transform: uppercase;
}

//breakpoints
@mixin desktop{
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width: #{$tablet-min-breakpoint}) and (max-width: #{$tablet-max-breakpoint}) {
        @content;
    }
}

//section controls
@mixin desktop-section-container{
    display: flex;
    justify-content: center;
    padding: $spacing-48 0;
    gap: $desktop-spacing-36;
}

@mixin mobile-section-container{
    display: flex;
    padding: $spacing-24 0;
    gap: $mobile-spacing-16;
}


@mixin tablet-section-container{
    display: flex;
    padding-top: $spacing-48;
    padding-bottom: $tablet-spacing-36;
    gap: $tablet-spacing-36;
}

@mixin background-image{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(50%);
}







