@import "./partials/mixins.scss";
@import "./partials/variables.scss";
@import "./global.scss";

main{
    max-width: 1020px;
}

.hero{
    display: flex;
    flex-direction: row;
    background-image: url("/assets/images/hero-bio.jpg");
    background-position: center;
    background-size: cover;
    height: 39.25rem; 
    position: relative;
    justify-content: center;

    &__section-container{
        margin: auto;
        min-width: $desktop-total-width;
    }

    &__page-header{
        color: $text-primary-on-dark;
        @include desktop-page-header;
        display: flex;
        align-items: center;
    }
}

.band-intro{
    @include desktop-section-container;

    &__section-container{
        max-width: $desktop-total-width;
        display: flex;
        flex-direction: column;
        gap: $desktop-spacing-36;
    }

    &__image{
        width: 100%;
    }

    &__quote{
        display: flex;
        flex-direction: column;
        gap: $spacing-16;
    }

    &__content{
        padding: 0 5.5rem;
        display: flex;
        flex-direction: column;
        gap: $desktop-spacing-36;
    }

    &__description{
        display: flex;
        flex-direction: column;
        gap: 2.25rem;

        &--detail{
            display: flex;
            flex-direction: row;
            gap: $spacing-32;
        }
    }

}

.photo-gallery{

    @include desktop-section-container;

    &__section-container{
        max-width: $desktop-total-width;
        display: flex;
        flex-direction: column;
        gap: $desktop-spacing-36;
    }

    &__images{
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-24;
        padding: 0 5.5rem;
        justify-content: center;

        &--item{
            width: calc(33.33% - 16px);        
        }
    }
}

