@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next LT Pro", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

h4 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.footer-copy {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.labe-copy {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 0;
}

a {
  color: #afafaf;
  text-decoration: none;
}

a:hover {
  color: #323232;
}

a:hover {
  color: #323232;
}

a:active {
  color: #ffffff;
}

.section-container {
  min-width: 63.75rem;
}

.secondary-text {
  color: #ffffff;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
}

header {
  display: flex;
  background-color: #323232;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 63.75rem;
}
.nav__link {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #afafaf;
  margin: 0;
}
.nav__link--item {
  color: #afafaf;
  padding: 1.5rem 1rem;
}

.footer {
  background-color: #323232;
  justify-content: center;
  display: flex;
  align-items: center;
}
.footer__section-container {
  min-width: 63.75rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer__header-container--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}
.footer__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__company {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.footer__company--detials {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__social-media {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.footer__social-media--icon {
  height: 1.5rem;
  width: 1.5rem;
}

main {
  max-width: 1020px;
}

.hero {
  display: flex;
  flex-direction: row;
  background-image: url("/assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  height: 39.25rem;
  position: relative;
  justify-content: center;
}
.hero__section-container {
  margin: auto;
  min-width: 63.75rem;
}
.hero__page-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 4.25rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.band-intro {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  gap: 2.25rem;
}
.band-intro__section-container {
  max-width: 63.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.band-intro__image {
  width: 100%;
}
.band-intro__quote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.band-intro__content {
  padding: 0 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.band-intro__description {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.band-intro__description--detail {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  gap: 2.25rem;
}
.photo-gallery__section-container {
  max-width: 63.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.photo-gallery__images {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 5.5rem;
  justify-content: center;
}
.photo-gallery__images--item {
  width: calc(33.33% - 16px);
}/*# sourceMappingURL=bio.css.map */