@import "./partials/mixins.scss";
@import "./partials/variables.scss";
@import "./global.scss";

.hero{
    display: flex;
    position: relative;
    height: 11.625rem; 
    width: 100vw;

    &::before {
        background-image: url("../assets/Images/hero-bio.jpg");
        @include background-image;


        @include desktop{
            height: 39.25rem; 
            width: 100vw;
        }
    
        @include tablet{
            height: 40vh; 
            width: 100vw;
        }
    }

    @include desktop{
        height: 39.25rem; 
        width: 100vw;
    }

    @include tablet{
        height: 40vh; 
        width: 100vw;
    }

    &__section-container{
        margin: auto;
        width: 100%;
        padding: 0 $spacing-16;
        z-index: 1;
    

        @include desktop{
            max-width: $desktop-total-width;
        }

        @include tablet{
            padding: 0 $tablet-spacing-36;
        }
    }

    &__page-header{
        color: $text-primary-on-dark;
        display: flex;

        @include desktop{
            display: flex;
            align-items: center;        
        }
    }
}

.band-intro{
    @include mobile-section-container;

    @include desktop{
        @include desktop-section-container;
    }

    @include tablet{
        @include tablet-section-container;
    }

    &__section-container{
        display: flex;
        flex-direction: column;
        gap: $mobile-spacing-16;
        padding: 0 $spacing-16;

        @include desktop{
            max-width: $desktop-total-width;
            display: flex;
            flex-direction: column;
            gap: $desktop-spacing-36;
        }

        @include tablet{
            gap: $tablet-spacing-36;
            padding: 0 $tablet-spacing-36;
        }
    }

    &__image{
        width: 100%;
    }

    &__quote{
        display: flex;
        flex-direction: column;
        gap: $spacing-8;

        @include desktop{
            display: flex;
            flex-direction: column;
            gap: $spacing-16;
        }

        @include tablet{
            display: flex;
            flex-direction: column;
            gap: $spacing-8;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: $mobile-spacing-16;

        @include desktop{
            padding: 0 5.5rem;
            display: flex;
            flex-direction: column;
            gap: $desktop-spacing-36;
        }

        @include tablet{
            padding: 0 $spacing-64;
            display: flex;
            flex-direction: column;
            gap: $tablet-spacing-36;
        }
    }

    &__description{
        display: flex;
        flex-direction: column;
        gap: $mobile-spacing-16;

        @include desktop{
            display: flex;
            flex-direction: column;
            gap: $desktop-spacing-36;
        }

        @include tablet{
            display: flex;
            flex-direction: column;
            gap: $spacing-24;
        }


        &--detail{
            display: flex;
            flex-direction: column;
            gap: $spacing-16;

            @include desktop{
                display: flex;
                flex-direction: row;
                gap: $spacing-32;
            }

            @include tablet{
                display: flex;
                flex-direction: row;
                gap: $spacing-24;
            }
        }
    }

}

.photo-gallery{
    background-color: $background-light-alt;
    @include mobile-section-container;

    @include desktop{
        @include desktop-section-container;
    }

    @include tablet{
        @include tablet-section-container;
    }

    &__section-container{
        display: flex;
        flex-direction: column;
        gap: $mobile-spacing-16;
        padding: 0 $spacing-16;

        @include desktop{
            max-width: $desktop-total-width;
            display: flex;
            flex-direction: column;
            gap: $desktop-spacing-36;    
        }

        @include tablet{
            display: flex;
            flex-direction: column;
            gap: $tablet-spacing-36; 
            padding: 0 $tablet-spacing-36;   
        }
    }

    &__images{
        display: flex;
        flex-direction: column;
        gap: $spacing-16;

        @include desktop{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: $spacing-24;
            padding: 0 5.5rem;
            justify-content: center;  
        }

        @include tablet{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: $spacing-24;
            padding: 0 $spacing-64;
            justify-content: center;  
        }

        &--item{
            width: 100%;
            filter: grayscale(1);

            &:hover{
                filter: grayscale(0);
            }

            @include desktop{
                width: calc(33.33% - 16px); 
            }   

            @include tablet{
                width: calc(33.33% - 16px); 
            }    
        }
    }
}

