@import url("./partials/_mixins.scss");
@import url("./partials/_variables.scss");

@font-face {
	font-family: $primary-font-regular;
	src: url("/sony-chen-bandsite/assets/fonts/AvenirNextLTPro-Regular.otf")
		format(opentype);
}

@font-face{
    font-family: $primary-font-demi;
    src: url(/sony-chen-bandsite/assets/fonts/AvenirNextLTPro-Demi.otf) 
        format(opentype);
}

@font-face{
    font-family: $primary-font-bold;
    src: url(/sony-chen-bandsite/assets/fonts/AvenirNextLTPro-Bold.otf)
        format(opentype);
}

* {
    box-sizing: border-box;
}