@import "./partials/mixins.scss";
@import "./partials/variables.scss";

@font-face {
	font-family: "Avenir Next LT Pro";
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
}

@font-face{
    font-family: "Avenir Next LT Pro";
    src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
    font-weight: 600;
}

@font-face{
    font-family: "Avenir Next LT Pro";
    src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
    font-family: "Avenir Next LT Pro", sans-serif;
    padding-top: 6.375rem;

    @include desktop{
        padding-top: 4.28125rem;
    }

    @include tablet{
        padding-top: 4.28125rem;
    }
}

.bold{
    font-weight: 600;
}

h1{
    @include mobile-page-header;

    @include desktop{
        @include desktop-page-header;
    }

    @include tablet{
        @include tablet-page-header;
    }
}

h2{
    @include mobile-section-header;

    @include desktop{
        @include desktop-section-header;
    }

    @include tablet{
        @include tablet-section-header;
    }
}

h3{
    @include mobile-subheader;
    color: $text-primary-on-light;

    @include desktop{
        @include desktop-subheader;
    }

    @include tablet{
        @include tablet-subheader;
    }
}

h4{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;    
    margin: 0;

    @include desktop{
        font-size: 0.8125rem;
        line-height: 1.125rem;    
    }

    @include tablet{
        font-size: 0.8125rem;
        line-height: 1.125rem;  
    }
}

p{
    @include mobile-body-copy;

    @include desktop{
        @include desktop-body-copy;    
    }

    @include tablet{
        @include tablet-body-copy;    
    }
}

.text-dark{
    color: $text-primary-on-light;
}

.text-light{
    color: $text-primary-on-dark;
}

.quote{
    color: $text-primary-on-light;
}

.label{
    @include mobile-label-uppercase;
    color: $text-secondary;

    @include desktop{
        @include desktop-label-uppercase;
    }

    @include tablet{
        @include desktop-label-uppercase;
    }
}

.footer-copy{
    @include mobile-footer-copy;

    @include desktop{
        @include desktop-footer-copy;
    }

    @include tablet{
        @include tablet-footer-copy;
    }
}

.labe-copy{
    @include mobile-label;

    @include desktop{
        @include desktop-label;
    }

    @include tablet{
        @include tablet-label;
    }
}

a{
    color: $link-default;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.125rem;

    @include desktop{
        font-size: 0.875rem;
        line-height: 1.25rem;  
        font-weight: 400; 
        }

    @include tablet{
        font-size: 0.875rem;
        line-height: 1.25rem;   
        font-weight: 400;
        }

        &:hover{
            color: $link-hover;
        }
    
        &:active{
            color: $link-active;
        }
}

button{
    height: 2.5rem;
    width: 100%;
    background: $button-default;
    border-radius: 0.25rem;
    color: $text-primary-on-dark;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    @include mobile-button;

    @include desktop{
        @include desktop-button;
        min-width: 9.375rem;
        width: auto;
        padding: 0 $spacing-32;
    }

    @include tablet{
        @include tablet-button;
        min-width: 9.375rem;
        width: auto;
        padding: 0 $spacing-32;
    }

    &:hover{
        background: $bandsite-darkblack;
    }
}

.secondary-text{
    color: $text-primary-on-dark;
}

.nav{
    display: flex;
    background-color: $background-dark;
    justify-content: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;

    &__section-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: $spacing-16;
    
        @include desktop{
            flex-direction: row;
            align-items: center;
            max-width: $desktop-total-width;
            padding-top: $spacing-4;
            gap: $spacing-32;
            padding: 0;
        }

        @include tablet{
            flex-direction: row;
            align-items: center;
            gap: $spacing-8;
            padding-top: $spacing-4;
            padding: 0 $tablet-spacing-36;
        }
    }


    &__logo{
        text-align: center;
        @include logo;
    }

    &__link{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        color: $link-default;
        margin: 0;
        padding: 0;

        @include desktop{
            display: flex;
            flex-direction: row;
        }

        @include tablet{
            gap: $spacing-8;
        }
    }

    &__link-item{
        color: $link-default;
        text-align: center;
        box-sizing: border-box;
        width: 100%;

        &--active{
            width: 100%;
            border-bottom: solid 4px white;
            padding: $spacing-16;
            display: block;
            padding: $spacing-24;
            font-weight: 700; 
            box-sizing: border-box;

            @include desktop{
                padding: $spacing-24 $spacing-16;
                margin: 0 $spacing-16;
            }
        }

        &--default{
            width: 100%;
            border-bottom: solid 4px transparent;
            padding: $spacing-16;
            display: block;
            padding: $spacing-24;
            box-sizing: border-box;
            color: $link-default;

            @include desktop{
                padding: $spacing-24 $spacing-16;
                margin: 0 $spacing-16;
            }

            &:hover{
                width: 100%;
                border-bottom: solid 4px white;
                padding: $spacing-16;
                display: block;
                padding: $spacing-24;
                font-weight: 400; 
                box-sizing: border-box;
                color: $link-hover;
    
                @include desktop{
                    padding: $spacing-24 $spacing-16;
                    margin: 0 $spacing-16;
                }
            }
        }
    }


}

.footer{
    background-color: $background-dark;
    display: flex;
    align-items: center;
    padding: $spacing-24 $spacing-16;

    @include desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    @include tablet{
        display: flex;
        align-items: center;
        padding: 0;
        padding: 0 $tablet-spacing-36; 
    }

    &__section-container{
        display: flex;
        flex-direction: column;
        gap: $spacing-24;

    @include desktop{
        min-width: $desktop-total-width;
        padding: $tablet-spacing-36 0;
        gap: $spacing-40;
    }

    @include tablet{
        padding: $spacing-48 0;
        gap: $tablet-spacing-36;
        width: 100%;
    }
    }

    &__header-container{
        display: flex;
        flex-direction: column;

        @include desktop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &--left{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-16;

            & h2{

            @include desktop{
                width: 100%;
            }

            @include tablet{
                width: 100%;
            }
            }

            @include desktop{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: $spacing-40;
                width: 100%;
                flex: 0.55;
            }

            @include tablet{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: $spacing-40;
                width: 100%;
                flex: 0.8;
            }
        }
        }

        &__logo{
            @include logo;

            &--top{
                @include logo;
                display: none;

                @include desktop{
                    display: block;  
                }

                @include tablet{
                    display: block;  
                }
            }

            &--bottom{
                @include logo;

                @include desktop{
                    display: none;  
                }

                @include tablet{
                    display: none;  
                }
            }
        }

    &__header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__company{
        display: flex;
        flex-direction: column;
        gap: $spacing-24;

        @include desktop{
            display: flex;
            flex-direction: row;
            gap: $spacing-64;        
        }

        @include tablet{
            display: flex;
            flex-direction: row;
            gap: $spacing-64; 
            justify-content: space-between;       
        }

        &--detials{
            display: flex;
            flex-direction: column;
            gap: $spacing-16;

            @include desktop{
                gap: $spacing-24;
            }
        }
    }

    &__social-media{
        display: flex;
        flex-direction: row;
        gap: $spacing-24;
        width: 100%;

        @include desktop{
            gap: $spacing-24;
        }

        &--icon{
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    &__legal{
        display: flex;
        flex-direction: column;
        gap: $spacing-16;
    }
}