@import "./partials/mixins.scss";
@import "./partials/variables.scss";
@import "./global.scss";

.hero{
    display: flex;
    position: relative;
    height: 100%; 
    width: 100vw;

    &::before {
        background-image: url("../assets/images/hero-shows.jpg");
        @include background-image;
        height: 100%; 

        @include desktop{
            height: 39.25rem; 
            width: 100vw;
        }
    
        @include tablet{
            height: 100%; 
            width: 100vw;
        }
    }

    @include desktop{
        height: 39.25rem; 
        width: 100%;
    }

    @include tablet{
        height: 100%; 
        width: 100vw;
    }

    &__section-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        z-index: 1;
        padding: $spacing-32 $spacing-16;
    
        @include desktop{
            max-width: $desktop-total-width;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0;
        }

        @include tablet{
            padding: $spacing-96 $spacing-196 $spacing-96 $tablet-spacing-36;
        }
    }

    &__music-content{
        flex: 4;

        @include tablet{
            padding-bottom: $spacing-56;
        }

        &--page-header{
            color: $text-primary-on-dark;
            display: flex;
            padding-bottom: $spacing-16;
    
            @include desktop{
                display: flex;
                align-items: center; 
                padding: 0;       
            }

            @include tablet{
                padding: 0;       
            }
        }

        &--subtitle{
            @include mobile-subheader;
            color: $primary-whilte;
            padding-bottom: $spacing-20;

            @include desktop{
                @include desktop-subheader;
            }

            @include tablet{
                @include tablet-subheader;
            }
        }
    }

    &__soundsCloud{
        flex: 3;
        width: 100%;

        @include desktop{
            padding-left: $spacing-56;
        }

        @include tablet{
            width: 70%;
        }
    }
}

.shows{
    @include mobile-section-container;

    @include desktop{
        @include desktop-section-container;
    }

    @include tablet{
        @include tablet-section-container;
    }

    &__section-container{
        display: flex;
        flex-direction: column;
        width: 100%;

        @include desktop{
            max-width: $desktop-total-width;
        }

        @include tablet{
            gap: $tablet-spacing-36;
            padding: 0 $tablet-spacing-36;
        }
    }

    &__wrapper{
    
        @include desktop{
            display: flex;
            flex-direction: row;
            gap: $spacing-124;
        }
    }

    &__heading{
        margin: 0 $spacing-16;

        @include desktop{
            margin: 0;
        }

        @include tablet{
            margin: 0;
            padding-bottom: $spacing-28;
            padding-left: $spacing-18;
            padding-right: $spacing-18;
        }
    }

    &__table{
        width: 100%;
    }

    &__table-headers-wrapper{
        text-align: left;
        display: flex;
        flex-direction: row;

        @include desktop{
            padding: $spacing-24 $spacing-18;
        }

        @include tablet{
            padding: $spacing-8 $spacing-18;
        }
    }

    &__table-header{
        width: 100%;
        display: none;
        @include mobile-label-uppercase;
        color: $text-secondary;

        @include desktop{
            display: block;
            @include desktop-label-uppercase;
        }

        @include tablet{
            display: block;
            @include tablet-label-uppercase;
        }

        &--mobile{
            display: block;

            @include desktop{
                display: none;
            }  

            @include tablet{
                display: none;
            }  
        }
    }

    &__ticket-info-wrapper{
        text-align: left;
        border-bottom: 1px solid $divider;
    }

    &__ticket-info-wrapper-inner{
        margin: 16px;
        display: flex;
        flex-direction: column;
        gap: $spacing-16;

        @include desktop{
            padding: $spacing-24 $spacing-18;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;
            gap: 0;
        }

        @include tablet{
            padding: $spacing-24 $spacing-18;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;
        }

        &:hover{
            background: $background-light-alt;
        }
    }

    &__ticket-info{
        width: 100%;
        gap: $spacing-8;
    }
}